<header class="header">
  <img class="logo" src="./assets/images/products/logo.png" />

  <nav class="main-nav">
    <ul class="main-nav-list">
      <li>
        <a href="/welcome" class="main-nav-item">
          <i class="fas fa-home"></i>
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <li>
        <a href="/menuDisplay" class="main-nav-item">
          <i class="fas fa-bars"></i>
          Menu
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <li>
        <a href="#" class="main-nav-item">
          <i class="fas fa-shopping-cart"></i>
          Cart
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li>
        <a href="#" class="main-nav-item">
          <i class="fas fa-user"></i>
          Account
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li>
        <a href="/login" class="main-nav-item">
          <i class="fas fa-sign-in-alt"></i>
          Login
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li>
        <a href="/login" class="main-nav-item">
          <i class="fas fa-sign-out-alt"></i>
          Logout
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a href="/order" class="nav-link" routerLink="order">Order</a>
      </li> -->
    </ul>
  </nav>
</header>

<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
   

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
       
        <li routerLinkActive="active">
          <a routerLink="/login">Authenticate</a>
        </li>
        
      </ul>
   
    </div>
  </div>
</nav> -->
