
<div class="container">
    <form [formGroup]="weeklyMenuUpdateFormGroup" (ngSubmit)="onSubmit()">
<table>
        <div formGroupName="mondayMenu">
           
           <tr> <h3>Monday &nbsp;&nbsp;&nbsp;</h3> 
            

            <input formControlName="id" type="hidden" value="1">
            <td>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;name:   
                <input [formControlName]="'name'" type="text">
            </td>
           
            <td>desc:<input formControlName="description" type="text"></td>
            <td>price <input formControlName="price" type="number"></td>
            <td>   <input formControlName="image" type="file" (change)="onFileChanged($event)"> </td>
        </tr> 
        </div>
        <div formGroupName="tuedayMenu">
            <tr> <h3>Tuesday &nbsp;&nbsp;&nbsp;</h3> 
            

                <input formControlName="id" type="hidden" value="1">
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;name:   
                    <input [formControlName]="'name'" type="text">
                </td>
               
                <td>desc:<input formControlName="description" type="text"></td>
                <td>price <input formControlName="price" type="number"></td>
                <td>   <input formControlName="image" type="file" (change)="onFileChanged($event)"> </td>
            </tr> 
           
        </div>
        <div formGroupName="weddayMenu">
            <tr> <h3>Wednesday &nbsp;</h3> 
            

                <input formControlName="id" type="hidden" value="1">
                <td>
                name:   
                    <input [formControlName]="'name'" type="text">
                </td>
               
                <td>desc:<input formControlName="description" type="text"></td>
                <td>price <input formControlName="price" type="number"></td>
                <td>   <input formControlName="image" type="file" (change)="onFileChanged($event)"> </td>
            </tr> 
            
        </div>
        <div formGroupName="thrusdayMenu">
            <tr> <h3>Thrusday &nbsp;&nbsp;&nbsp;</h3> 
            

                <input formControlName="id" type="hidden" value="1">
                <td>
                    &nbsp;&nbsp;&nbsp;name:   
                    <input [formControlName]="'name'" type="text">
                </td>
               
                <td>desc:<input formControlName="description" type="text"></td>
                <td>price <input formControlName="price" type="number"></td>
                <td>   <input formControlName="image" type="file" (change)="onFileChanged($event)"> </td>
            </tr> 
            
        </div>
        <div formGroupName="fridayMenu">
            <tr> <h3>Friday</h3> 
            

                <input formControlName="id" type="hidden" value="1">
                <td>
                  &nbsp;&nbsp;name:   
                    <input [formControlName]="'name'" type="text">
                </td>
               
                <td>desc:<input formControlName="description" type="text"></td>
                <td>price <input formControlName="price" type="number"></td>
                <td>   <input formControlName="image" type="file" (change)="onFileChanged($event)"> </td>
            </tr> 
            
        </div>
        <div formGroupName="satdayMenu">
            <tr> <h3>Saturday &nbsp;&nbsp;&nbsp;</h3> 
            

                <input formControlName="id" type="hidden" value="1">
                <td>
                    &nbsp;&nbsp; name:   
                    <input [formControlName]="'name'" type="text">
                </td>
               
                <td>desc:<input formControlName="description" type="text"></td>
                <td>price <input formControlName="price" type="number"></td>
                <td>   <input formControlName="image" type="file" (change)="onFileChanged($event)"> </td>
            </tr> 
            
        </div>
        <div formGroupName="sundayMenu">
            <tr> <h3>Sunday &nbsp;</h3> 
            

                <input formControlName="id" type="hidden" value="1">
                <td>
                    &nbsp;&nbsp; name:   
                    <input [formControlName]="'name'" type="text">
                </td>
               
                <td>desc:<input formControlName="description" type="text"></td>
                <td>price <input formControlName="price" type="number"></td>
                <td>   <input formControlName="image" type="file" (change)="onFileChanged($event)"> </td>
            </tr> 
            
        </div>
        <tr>
            <button type="submit" class="btn btn-info">update</button>
        </tr>
    </table>
    </form>
</div>
<div>
    <a  class="nav-link" href="" (click)=handleLogout()>Logout</a>

</div>


