<table tablebody>
  <div class="dayMenu">
    <div *ngFor="let recipe of days.weekdays">
      <tr>
        <a routerLink="/dayMenu" (click)="daySelected($event)">{{ recipe }}</a>
        <img
          src="{{ days.myMap.get(recipe) }}"
          alt="Chuck Taylor All Star Shoe"
          height="250"
          width="250"
          class="product-img"
        />
        <br />
      </tr>
    </div>
  </div>
  <div>
    <tr>
      <a class="nav-link" href="" (click)="handleLogout()">Logout</a>
    </tr>
  </div>
  <div class="cart-area d-n">
    <a href="shopping-detail.html">
      <div class="total">
        55
        <span>2</span>
      </div>
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </a>
  </div>
</table>
